# CSV Loader

- Author: [JoonHo Kim](https://github.com/jhboyo)
- Design: []()
- Peer Review: [Cha Hwa Young, syshin0116]()
- This is a part of [LangChain Open Tutorial](https://github.com/LangChain-OpenTutorial/LangChain-OpenTutorial)

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/langchain-ai/langchain-academy/blob/main/module-4/sub-graph.ipynb) [![Open in LangChain Academy](https://cdn.prod.website-files.com/65b8cd72835ceeacd4449a53/66e9eba12c7b7688aa3dbb5e_LCA-badge-green.svg)](https://academy.langchain.com/courses/take/intro-to-langgraph/lessons/58239937-lesson-2-sub-graphs)


## Overview

This tutorial provides a comprehensive guide on how to use the `CSVLoader` utility in LangChain to seamlessly integrate data from CSV files into your applications. The `CSVLoader` is a powerful tool for processing structured data, enabling developers to extract, parse, and utilize information from CSV files within the LangChain framework.

[Comma-Separated Values (CSV)](https://en.wikipedia.org/wiki/Comma-separated_values) is one of the most common formats for storing and exchanging data.

`CSVLoader` simplifies the process of loading, parsing, and extracting data from CSV files, allowing developers to seamlessly incorporate this information into LangChain workflows.


### Table of Contents

- [Overview](#overview)
- [Environment Setup](#environment-setup)
- [How to load CSVs](#how-to-load-csvs)
- [Customizing the CSV parsing and loading](#customizing-the-csv-parsing-and-loading)
- [Specify a column to identify the document source](#specify-a-column-to-identify-the-document-source)
- [Generating XML document format](#generating-xml-document-format)
- [UnstructuredCSVLoader](#unstructuredcsvloader)
- [DataFrameLoader](#dataframeloader)


### References

- [Langchain CSVLoader](https://python.langchain.com/api_reference/community/document_loaders/langchain_community.document_loaders.csv_loader.CSVLoader.html)
- [Langchain How to load CSVs](https://python.langchain.com/docs/how_to/document_loader_csv)
- [Langchain DataFrameLoader](https://python.langchain.com/api_reference/community/document_loaders/langchain_community.document_loaders.dataframe.DataFrameLoader.html#dataframeloader)
----

## Environment Setup

Set up the environment. You may refer to [Environment Setup](https://wikidocs.net/257836) for more details.

**[Note]**
- `langchain-opentutorial` is a package that provides a set of easy-to-use environment setup, useful functions and utilities for tutorials. 
- You can checkout the [`langchain-opentutorial`](https://github.com/LangChain-OpenTutorial/langchain-opentutorial-pypi) for more details.
- `unstructured` package is a Python library for extracting text and metadata from various document formats like PDF and CSV

In [95]:
%%capture --no-stderr
%pip install langchain-opentutorial

In [96]:
# Install required packages
from langchain_opentutorial import package

package.install(
    [
        "langchain_community",
        "unstructured"
    ],
    verbose=False,
    upgrade=False,
)

In [97]:
# Set environment variables
from langchain_opentutorial import set_env

set_env(
    {
        "OPENAI_API_KEY": "",
        "LANGCHAIN_API_KEY": "",
        "LANGCHAIN_TRACING_V2": "true",
        "LANGCHAIN_ENDPOINT": "https://api.smith.langchain.com",
        "LANGCHAIN_PROJECT": "04-CSV-Loader",
    }
)

Environment variables have been set successfully.

You can alternatively set `OPENAI_API_KEY` in `.env` file and load it. 

[Note] This is not necessary if you've already set `OPENAI_API_KEY` in previous steps.

In [98]:
from dotenv import load_dotenv

load_dotenv()

True

## How to load CSVs

A comma-separated values (CSV) file is a delimited text file that uses a comma to separate values. LangChain can help you load CSV files easilyâ€”just import CSVLoader to get started. 

Each line of the file is a data record, and each record consists of one or more fields, separated by commas. 

We use a sample CSV file for the example.

In [99]:
from langchain_community.document_loaders.csv_loader import CSVLoader

# Create CSVLoader instance
loader = CSVLoader(file_path="./data/titanic.csv")

# Load documents
docs = loader.load()

for record in docs[:2]:
    print(record)

page_content='PassengerId: 1
Survived: 0
Pclass: 3
Name: Braund, Mr. Owen Harris
Sex: male
Age: 22
SibSp: 1
Parch: 0
Ticket: A/5 21171
Fare: 7.25
Cabin:
Embarked: S' metadata={'source': './data/titanic.csv', 'row': 0}
page_content='PassengerId: 2
Survived: 1
Pclass: 1
Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Sex: female
Age: 38
SibSp: 1
Parch: 0
Ticket: PC 17599
Fare: 71.2833
Cabin: C85
Embarked: C' metadata={'source': './data/titanic.csv', 'row': 1}

In [100]:
print(docs[1].page_content)

PassengerId: 2
Survived: 1
Pclass: 1
Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Sex: female
Age: 38
SibSp: 1
Parch: 0
Ticket: PC 17599
Fare: 71.2833
Cabin: C85
Embarked: C

## Customizing the CSV parsing and loading

CSVLoader accept a csv_args keyword argument that supports customization of the parameters passed to Python's csv.DictReader. This allows you to handle various CSV formats, such as custom delimiters, quote characters, or specific newline handling. 

See Python's [csv module](https://docs.python.org/3/library/csv.html) documentation for more information on supported `csv_args` and how to tailor the parsing to your specific needs.

In [101]:
loader = CSVLoader(
    file_path="./data/titanic.csv",
    csv_args={
        "delimiter": ",",
        "quotechar": '"',
        "fieldnames": [
            "Passenger ID",
            "Survival (1: Survived, 0: Died)",
            "Passenger Class",
            "Name",
            "Sex",
            "Age",
            "Number of Siblings/Spouses Aboard",
            "Number of Parents/Children Aboard",
            "Ticket Number",
            "Fare",
            "Cabin",
            "Port of Embarkation",
        ],
    },
)

docs = loader.load()

print(docs[1].page_content)

Passenger ID: 1
Survival (1: Survived, 0: Died): 0
Passenger Class: 3
Name: Braund, Mr. Owen Harris
Sex: male
Age: 22
Number of Siblings/Spouses Aboard: 1
Number of Parents/Children Aboard: 0
Ticket Number: A/5 21171
Fare: 7.25
Cabin:
Port of Embarkation: S

## Specify a column to identify the document source

You should use the `source_column` argument to specify the source of the documents generated from each row. Otherwise `file_path` will be used as the source for all documents created from the CSV file.

This is particularly useful when using the documents loaded from a CSV file in a chain designed to answer questions based on their source.

In [102]:
loader = CSVLoader(
    file_path="./data/titanic.csv",
    source_column="PassengerId",  # Specify the source column
)

docs = loader.load()  

print(docs[1])
print(docs[1].metadata)

page_content='PassengerId: 2
Survived: 1
Pclass: 1
Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer)
Sex: female
Age: 38
SibSp: 1
Parch: 0
Ticket: PC 17599
Fare: 71.2833
Cabin: C85
Embarked: C' metadata={'source': '2', 'row': 1}
{'source': '2', 'row': 1}

## Generating XML document format

This example shows how to generate XML Document format from CSVLoader. By processing data from a CSV file, you can convert its rows and columns into a structured XML representation.

Convert a row in the document.

In [103]:
row = docs[1].page_content.split("\n")  # split by new line
row_str = "<row>"
for element in row:
    splitted_element = element.split(":")  # split by ":"
    value = splitted_element[-1]  # get value
    col = ":".join(splitted_element[:-1])  # get column name

    row_str += f"<{col}>{value.strip()}</{col}>"
row_str += "</row>"
print(row_str)

<row><PassengerId>2</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Cumings, Mrs. John Bradley (Florence Briggs Thayer)</Name><Sex>female</Sex><Age>38</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>PC 17599</Ticket><Fare>71.2833</Fare><Cabin>C85</Cabin><Embarked>C</Embarked></row>

Convert entire rows in the document.

In [104]:
for doc in docs[1:]:  # skip header
    row = doc.page_content.split("\n")
    row_str = "<row>"
    for element in row:
        splitted_element = element.split(":")  # split by ":"
        value = splitted_element[-1]  # get value
        col = ":".join(splitted_element[:-1])  # get column name
        row_str += f"<{col}>{value.strip()}</{col}>"
    row_str += "</row>"
    print(row_str)

<row><PassengerId>2</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Cumings, Mrs. John Bradley (Florence Briggs Thayer)</Name><Sex>female</Sex><Age>38</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>PC 17599</Ticket><Fare>71.2833</Fare><Cabin>C85</Cabin><Embarked>C</Embarked></row>
<row><PassengerId>3</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Heikkinen, Miss. Laina</Name><Sex>female</Sex><Age>26</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>STON/O2. 3101282</Ticket><Fare>7.925</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>4</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Futrelle, Mrs. Jacques Heath (Lily May Peel)</Name><Sex>female</Sex><Age>35</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>113803</Ticket><Fare>53.1</Fare><Cabin>C123</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>5</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Allen, Mr. William Henry</Name><Sex>male</Sex><Age>35</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>373450</Ticket><Fare>8.05</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>6</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Moran, Mr. James</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>330877</Ticket><Fare>8.4583</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>7</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>McCarthy, Mr. Timothy J</Name><Sex>male</Sex><Age>54</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>17463</Ticket><Fare>51.8625</Fare><Cabin>E46</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>8</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Palsson, Master. Gosta Leonard</Name><Sex>male</Sex><Age>2</Age><SibSp>3</SibSp><Parch>1</Parch><Ticket>349909</Ticket><Fare>21.075</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>9</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)</Name><Sex>female</Sex><Age>27</Age><SibSp>0</SibSp><Parch>2</Parch><Ticket>347742</Ticket><Fare>11.1333</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>10</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Nasser, Mrs. Nicholas (Adele Achem)</Name><Sex>female</Sex><Age>14</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>237736</Ticket><Fare>30.0708</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>11</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Sandstrom, Miss. Marguerite Rut</Name><Sex>female</Sex><Age>4</Age><SibSp>1</SibSp><Parch>1</Parch><Ticket>PP 9549</Ticket><Fare>16.7</Fare><Cabin>G6</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>12</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Bonnell, Miss. Elizabeth</Name><Sex>female</Sex><Age>58</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>113783</Ticket><Fare>26.55</Fare><Cabin>C103</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>13</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Saundercock, Mr. William Henry</Name><Sex>male</Sex><Age>20</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>A/5. 2151</Ticket><Fare>8.05</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>14</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Andersson, Mr. Anders Johan</Name><Sex>male</Sex><Age>39</Age><SibSp>1</SibSp><Parch>5</Parch><Ticket>347082</Ticket><Fare>31.275</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>15</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Vestrom, Miss. Hulda Amanda Adolfina</Name><Sex>female</Sex><Age>14</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>350406</Ticket><Fare>7.8542</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>16</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Hewlett, Mrs. (Mary D Kingcome)</Name><Sex>female</Sex><Age>55</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>248706</Ticket><Fare>16</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>17</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Rice, Master. Eugene</Name><Sex>male</Sex><Age>2</Age><SibSp>4</SibSp><Parch>1</Parch><Ticket>382652</Ticket><Fare>29.125</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>18</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Williams, Mr. Charles Eugene</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>244373</Ticket><Fare>13</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>19</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)</Name><Sex>female</Sex><Age>31</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>345763</Ticket><Fare>18</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>20</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Masselmani, Mrs. Fatima</Name><Sex>female</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>2649</Ticket><Fare>7.225</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>21</PassengerId><Survived>0</Survived><Pclass>2</Pclass><Name>Fynney, Mr. Joseph J</Name><Sex>male</Sex><Age>35</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>239865</Ticket><Fare>26</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>22</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Beesley, Mr. Lawrence</Name><Sex>male</Sex><Age>34</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>248698</Ticket><Fare>13</Fare><Cabin>D56</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>23</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>McGowan, Miss. Anna "Annie"</Name><Sex>female</Sex><Age>15</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>330923</Ticket><Fare>8.0292</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>24</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Sloper, Mr. William Thompson</Name><Sex>male</Sex><Age>28</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>113788</Ticket><Fare>35.5</Fare><Cabin>A6</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>25</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Palsson, Miss. Torborg Danira</Name><Sex>female</Sex><Age>8</Age><SibSp>3</SibSp><Parch>1</Parch><Ticket>349909</Ticket><Fare>21.075</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>26</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)</Name><Sex>female</Sex><Age>38</Age><SibSp>1</SibSp><Parch>5</Parch><Ticket>347077</Ticket><Fare>31.3875</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>27</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Emir, Mr. Farred Chehab</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>2631</Ticket><Fare>7.225</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>28</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Fortune, Mr. Charles Alexander</Name><Sex>male</Sex><Age>19</Age><SibSp>3</SibSp><Parch>2</Parch><Ticket>19950</Ticket><Fare>263</Fare><Cabin>C23 C25 C27</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>29</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>O'Dwyer, Miss. Ellen "Nellie"</Name><Sex>female</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>330959</Ticket><Fare>7.8792</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>30</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Todoroff, Mr. Lalio</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>349216</Ticket><Fare>7.8958</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>31</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Uruchurtu, Don. Manuel E</Name><Sex>male</Sex><Age>40</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>PC 17601</Ticket><Fare>27.7208</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>32</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Spencer, Mrs. William Augustus (Marie Eugenie)</Name><Sex>female</Sex><Age></Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>PC 17569</Ticket><Fare>146.5208</Fare><Cabin>B78</Cabin><Embarked>C</Embarked></row>
<row><PassengerId>33</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Glynn, Miss. Mary Agatha</Name><Sex>female</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>335677</Ticket><Fare>7.75</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>34</PassengerId><Survived>0</Survived><Pclass>2</Pclass><Name>Wheadon, Mr. Edward H</Name><Sex>male</Sex><Age>66</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>C.A. 24579</Ticket><Fare>10.5</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>35</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Meyer, Mr. Edgar Joseph</Name><Sex>male</Sex><Age>28</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>PC 17604</Ticket><Fare>82.1708</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>36</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Holverson, Mr. Alexander Oskar</Name><Sex>male</Sex><Age>42</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>113789</Ticket><Fare>52</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>37</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Mamee, Mr. Hanna</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>2677</Ticket><Fare>7.2292</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>38</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Cann, Mr. Ernest Charles</Name><Sex>male</Sex><Age>21</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>A./5. 2152</Ticket><Fare>8.05</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>39</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Vander Planke, Miss. Augusta Maria</Name><Sex>female</Sex><Age>18</Age><SibSp>2</SibSp><Parch>0</Parch><Ticket>345764</Ticket><Fare>18</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>40</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Nicola-Yarred, Miss. Jamila</Name><Sex>female</Sex><Age>14</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>2651</Ticket><Fare>11.2417</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>41</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Ahlin, Mrs. Johan (Johanna Persdotter Larsson)</Name><Sex>female</Sex><Age>40</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>7546</Ticket><Fare>9.475</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>42</PassengerId><Survived>0</Survived><Pclass>2</Pclass><Name>Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)</Name><Sex>female</Sex><Age>27</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>11668</Ticket><Fare>21</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>43</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Kraeff, Mr. Theodor</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>349253</Ticket><Fare>7.8958</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>44</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Laroche, Miss. Simonne Marie Anne Andree</Name><Sex>female</Sex><Age>3</Age><SibSp>1</SibSp><Parch>2</Parch><Ticket>SC/Paris 2123</Ticket><Fare>41.5792</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>45</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Devaney, Miss. Margaret Delia</Name><Sex>female</Sex><Age>19</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>330958</Ticket><Fare>7.8792</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>46</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Rogers, Mr. William John</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>S.C./A.4. 23567</Ticket><Fare>8.05</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>47</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Lennon, Mr. Denis</Name><Sex>male</Sex><Age></Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>370371</Ticket><Fare>15.5</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>48</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>O'Driscoll, Miss. Bridget</Name><Sex>female</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>14311</Ticket><Fare>7.75</Fare><Cabin></Cabin><Embarked>Q</Embarked></row>
<row><PassengerId>49</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Samaan, Mr. Youssef</Name><Sex>male</Sex><Age></Age><SibSp>2</SibSp><Parch>0</Parch><Ticket>2662</Ticket><Fare>21.6792</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>50</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Arnold-Franchi, Mrs. Josef (Josefine Franchi)</Name><Sex>female</Sex><Age>18</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>349237</Ticket><Fare>17.8</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>51</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Panula, Master. Juha Niilo</Name><Sex>male</Sex><Age>7</Age><SibSp>4</SibSp><Parch>1</Parch><Ticket>3101295</Ticket><Fare>39.6875</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>52</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Nosworthy, Mr. Richard Cater</Name><Sex>male</Sex><Age>21</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>A/4. 39886</Ticket><Fare>7.8</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>53</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Harper, Mrs. Henry Sleeper (Myna Haxtun)</Name><Sex>female</Sex><Age>49</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>PC 17572</Ticket><Fare>76.7292</Fare><Cabin>D33</Cabin><Embarked>C</Embarked></row>
<row><PassengerId>54</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)</Name><Sex>female</Sex><Age>29</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>2926</Ticket><Fare>26</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>55</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Ostby, Mr. Engelhart Cornelius</Name><Sex>male</Sex><Age>65</Age><SibSp>0</SibSp><Parch>1</Parch><Ticket>113509</Ticket><Fare>61.9792</Fare><Cabin>B30</Cabin><Embarked>C</Embarked></row>
<row><PassengerId>56</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Woolner, Mr. Hugh</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>19947</Ticket><Fare>35.5</Fare><Cabin>C52</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>57</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Rugg, Miss. Emily</Name><Sex>female</Sex><Age>21</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>C.A. 31026</Ticket><Fare>10.5</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>58</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Novel, Mr. Mansouer</Name><Sex>male</Sex><Age>28.5</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>2697</Ticket><Fare>7.2292</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>59</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>West, Miss. Constance Mirium</Name><Sex>female</Sex><Age>5</Age><SibSp>1</SibSp><Parch>2</Parch><Ticket>C.A. 34651</Ticket><Fare>27.75</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>60</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Goodwin, Master. William Frederick</Name><Sex>male</Sex><Age>11</Age><SibSp>5</SibSp><Parch>2</Parch><Ticket>CA 2144</Ticket><Fare>46.9</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>61</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Sirayanian, Mr. Orsen</Name><Sex>male</Sex><Age>22</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>2669</Ticket><Fare>7.2292</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>62</PassengerId><Survived>1</Survived><Pclass>1</Pclass><Name>Icard, Miss. Amelie</Name><Sex>female</Sex><Age>38</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>113572</Ticket><Fare>80</Fare><Cabin>B28</Cabin><Embarked></Embarked></row>
<row><PassengerId>63</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Harris, Mr. Henry Birkhardt</Name><Sex>male</Sex><Age>45</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>36973</Ticket><Fare>83.475</Fare><Cabin>C83</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>64</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Skoog, Master. Harald</Name><Sex>male</Sex><Age>4</Age><SibSp>3</SibSp><Parch>2</Parch><Ticket>347088</Ticket><Fare>27.9</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>65</PassengerId><Survived>0</Survived><Pclass>1</Pclass><Name>Stewart, Mr. Albert A</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>PC 17605</Ticket><Fare>27.7208</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>66</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Moubarek, Master. Gerios</Name><Sex>male</Sex><Age></Age><SibSp>1</SibSp><Parch>1</Parch><Ticket>2661</Ticket><Fare>15.2458</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>67</PassengerId><Survived>1</Survived><Pclass>2</Pclass><Name>Nye, Mrs. (Elizabeth Ramell)</Name><Sex>female</Sex><Age>29</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>C.A. 29395</Ticket><Fare>10.5</Fare><Cabin>F33</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>68</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Crease, Mr. Ernest James</Name><Sex>male</Sex><Age>19</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>S.P. 3464</Ticket><Fare>8.1583</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>69</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Andersson, Miss. Erna Alexandra</Name><Sex>female</Sex><Age>17</Age><SibSp>4</SibSp><Parch>2</Parch><Ticket>3101281</Ticket><Fare>7.925</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>70</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Kink, Mr. Vincenz</Name><Sex>male</Sex><Age>26</Age><SibSp>2</SibSp><Parch>0</Parch><Ticket>315151</Ticket><Fare>8.6625</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>71</PassengerId><Survived>0</Survived><Pclass>2</Pclass><Name>Jenkin, Mr. Stephen Curnow</Name><Sex>male</Sex><Age>32</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>C.A. 33111</Ticket><Fare>10.5</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>72</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Goodwin, Miss. Lillian Amy</Name><Sex>female</Sex><Age>16</Age><SibSp>5</SibSp><Parch>2</Parch><Ticket>CA 2144</Ticket><Fare>46.9</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>73</PassengerId><Survived>0</Survived><Pclass>2</Pclass><Name>Hood, Mr. Ambrose Jr</Name><Sex>male</Sex><Age>21</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>S.O.C. 14879</Ticket><Fare>73.5</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>74</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Chronopoulos, Mr. Apostolos</Name><Sex>male</Sex><Age>26</Age><SibSp>1</SibSp><Parch>0</Parch><Ticket>2680</Ticket><Fare>14.4542</Fare><Cabin></Cabin><Embarked>C</Embarked></row>
<row><PassengerId>75</PassengerId><Survived>1</Survived><Pclass>3</Pclass><Name>Bing, Mr. Lee</Name><Sex>male</Sex><Age>32</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>1601</Ticket><Fare>56.4958</Fare><Cabin></Cabin><Embarked>S</Embarked></row>
<row><PassengerId>76</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Moen, Mr. Sigurd Hansen</Name><Sex>male</Sex><Age>25</Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>348123</Ticket><Fare>7.65</Fare><Cabin>F G73</Cabin><Embarked>S</Embarked></row>
<row><PassengerId>77</PassengerId><Survived>0</Survived><Pclass>3</Pclass><Name>Staneff, Mr. Ivan</Name><Sex>male</Sex><Age></Age><SibSp>0</SibSp><Parch>0</Parch><Ticket>349208</Ticket><Fare>7.8958</Fare><Cabin></Cabin><Embarked>S</Embarked></row>

## UnstructuredCSVLoader

`UnstructuredCSVLoader` can be used in both `single` and `elements` mode. If you use the loader in â€œelementsâ€ mode, the CSV file will be a single Unstructured Table element. If you use the loader in elementsâ€ mode, an HTML representation of the table will be available in the `text_as_html` key in the document metadata.

In [105]:
from langchain_community.document_loaders.csv_loader import UnstructuredCSVLoader

# Generate UnstructuredCSVLoader instance with elements mode
loader = UnstructuredCSVLoader(file_path="./data/titanic.csv", mode="elements")

docs = loader.load()

print(docs[0].metadata["text_as_html"])

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>1</td>
      <td>0</td>
      <td>3</td>
      <td>Braund, Mr. Owen Harris</td>
      <td>male</td>
      <td>22.00</td>
      <td>1</td>
      <td>0</td>
      <td>A/5 21171</td>
      <td>7.2500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>2</td>
      <td>1</td>
      <td>1</td>
      <td>Cumings, Mrs. John Bradley (Florence Briggs Thayer)</td>
      <td>female</td>
      <td>38.00</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17599</td>
      <td>71.2833</td>
      <td>C85</td>
      <td>C</td>
    </tr>
    <tr>
      <td>3</td>
      <td>1</td>
      <td>3</td>
      <td>Heikkinen, Miss. Laina</td>
      <td>female</td>
      <td>26.00</td>
      <td>0</td>
      <td>0</td>
      <td>STON/O2. 3101282</td>
      <td>7.9250</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>4</td>
      <td>1</td>
      <td>1</td>
      <td>Futrelle, Mrs. Jacques Heath (Lily May Peel)</td>
      <td>female</td>
      <td>35.00</td>
      <td>1</td>
      <td>0</td>
      <td>113803</td>
      <td>53.1000</td>
      <td>C123</td>
      <td>S</td>
    </tr>
    <tr>
      <td>5</td>
      <td>0</td>
      <td>3</td>
      <td>Allen, Mr. William Henry</td>
      <td>male</td>
      <td>35.00</td>
      <td>0</td>
      <td>0</td>
      <td>373450</td>
      <td>8.0500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>6</td>
      <td>0</td>
      <td>3</td>
      <td>Moran, Mr. James</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>330877</td>
      <td>8.4583</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>7</td>
      <td>0</td>
      <td>1</td>
      <td>McCarthy, Mr. Timothy J</td>
      <td>male</td>
      <td>54.00</td>
      <td>0</td>
      <td>0</td>
      <td>17463</td>
      <td>51.8625</td>
      <td>E46</td>
      <td>S</td>
    </tr>
    <tr>
      <td>8</td>
      <td>0</td>
      <td>3</td>
      <td>Palsson, Master. Gosta Leonard</td>
      <td>male</td>
      <td>2.00</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>9</td>
      <td>1</td>
      <td>3</td>
      <td>Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)</td>
      <td>female</td>
      <td>27.00</td>
      <td>0</td>
      <td>2</td>
      <td>347742</td>
      <td>11.1333</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>10</td>
      <td>1</td>
      <td>2</td>
      <td>Nasser, Mrs. Nicholas (Adele Achem)</td>
      <td>female</td>
      <td>14.00</td>
      <td>1</td>
      <td>0</td>
      <td>237736</td>
      <td>30.0708</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>11</td>
      <td>1</td>
      <td>3</td>
      <td>Sandstrom, Miss. Marguerite Rut</td>
      <td>female</td>
      <td>4.00</td>
      <td>1</td>
      <td>1</td>
      <td>PP 9549</td>
      <td>16.7000</td>
      <td>G6</td>
      <td>S</td>
    </tr>
    <tr>
      <td>12</td>
      <td>1</td>
      <td>1</td>
      <td>Bonnell, Miss. Elizabeth</td>
      <td>female</td>
      <td>58.00</td>
      <td>0</td>
      <td>0</td>
      <td>113783</td>
      <td>26.5500</td>
      <td>C103</td>
      <td>S</td>
    </tr>
    <tr>
      <td>13</td>
      <td>0</td>
      <td>3</td>
      <td>Saundercock, Mr. William Henry</td>
      <td>male</td>
      <td>20.00</td>
      <td>0</td>
      <td>0</td>
      <td>A/5. 2151</td>
      <td>8.0500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>14</td>
      <td>0</td>
      <td>3</td>
      <td>Andersson, Mr. Anders Johan</td>
      <td>male</td>
      <td>39.00</td>
      <td>1</td>
      <td>5</td>
      <td>347082</td>
      <td>31.2750</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>15</td>
      <td>0</td>
      <td>3</td>
      <td>Vestrom, Miss. Hulda Amanda Adolfina</td>
      <td>female</td>
      <td>14.00</td>
      <td>0</td>
      <td>0</td>
      <td>350406</td>
      <td>7.8542</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>16</td>
      <td>1</td>
      <td>2</td>
      <td>Hewlett, Mrs. (Mary D Kingcome)</td>
      <td>female</td>
      <td>55.00</td>
      <td>0</td>
      <td>0</td>
      <td>248706</td>
      <td>16.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>17</td>
      <td>0</td>
      <td>3</td>
      <td>Rice, Master. Eugene</td>
      <td>male</td>
      <td>2.00</td>
      <td>4</td>
      <td>1</td>
      <td>382652</td>
      <td>29.1250</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>18</td>
      <td>1</td>
      <td>2</td>
      <td>Williams, Mr. Charles Eugene</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>244373</td>
      <td>13.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>19</td>
      <td>0</td>
      <td>3</td>
      <td>Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)</td>
      <td>female</td>
      <td>31.00</td>
      <td>1</td>
      <td>0</td>
      <td>345763</td>
      <td>18.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>20</td>
      <td>1</td>
      <td>3</td>
      <td>Masselmani, Mrs. Fatima</td>
      <td>female</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>2649</td>
      <td>7.2250</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>21</td>
      <td>0</td>
      <td>2</td>
      <td>Fynney, Mr. Joseph J</td>
      <td>male</td>
      <td>35.00</td>
      <td>0</td>
      <td>0</td>
      <td>239865</td>
      <td>26.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>22</td>
      <td>1</td>
      <td>2</td>
      <td>Beesley, Mr. Lawrence</td>
      <td>male</td>
      <td>34.00</td>
      <td>0</td>
      <td>0</td>
      <td>248698</td>
      <td>13.0000</td>
      <td>D56</td>
      <td>S</td>
    </tr>
    <tr>
      <td>23</td>
      <td>1</td>
      <td>3</td>
      <td>McGowan, Miss. Anna "Annie"</td>
      <td>female</td>
      <td>15.00</td>
      <td>0</td>
      <td>0</td>
      <td>330923</td>
      <td>8.0292</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>24</td>
      <td>1</td>
      <td>1</td>
      <td>Sloper, Mr. William Thompson</td>
      <td>male</td>
      <td>28.00</td>
      <td>0</td>
      <td>0</td>
      <td>113788</td>
      <td>35.5000</td>
      <td>A6</td>
      <td>S</td>
    </tr>
    <tr>
      <td>25</td>
      <td>0</td>
      <td>3</td>
      <td>Palsson, Miss. Torborg Danira</td>
      <td>female</td>
      <td>8.00</td>
      <td>3</td>
      <td>1</td>
      <td>349909</td>
      <td>21.0750</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>26</td>
      <td>1</td>
      <td>3</td>
      <td>Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)</td>
      <td>female</td>
      <td>38.00</td>
      <td>1</td>
      <td>5</td>
      <td>347077</td>
      <td>31.3875</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>27</td>
      <td>0</td>
      <td>3</td>
      <td>Emir, Mr. Farred Chehab</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>2631</td>
      <td>7.2250</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>28</td>
      <td>0</td>
      <td>1</td>
      <td>Fortune, Mr. Charles Alexander</td>
      <td>male</td>
      <td>19.00</td>
      <td>3</td>
      <td>2</td>
      <td>19950</td>
      <td>263.0000</td>
      <td>C23 C25 C27</td>
      <td>S</td>
    </tr>
    <tr>
      <td>29</td>
      <td>1</td>
      <td>3</td>
      <td>O'Dwyer, Miss. Ellen "Nellie"</td>
      <td>female</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>330959</td>
      <td>7.8792</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>30</td>
      <td>0</td>
      <td>3</td>
      <td>Todoroff, Mr. Lalio</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>349216</td>
      <td>7.8958</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>31</td>
      <td>0</td>
      <td>1</td>
      <td>Uruchurtu, Don. Manuel E</td>
      <td>male</td>
      <td>40.00</td>
      <td>0</td>
      <td>0</td>
      <td>PC 17601</td>
      <td>27.7208</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>32</td>
      <td>1</td>
      <td>1</td>
      <td>Spencer, Mrs. William Augustus (Marie Eugenie)</td>
      <td>female</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>PC 17569</td>
      <td>146.5208</td>
      <td>B78</td>
      <td>C</td>
    </tr>
    <tr>
      <td>33</td>
      <td>1</td>
      <td>3</td>
      <td>Glynn, Miss. Mary Agatha</td>
      <td>female</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>335677</td>
      <td>7.7500</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>34</td>
      <td>0</td>
      <td>2</td>
      <td>Wheadon, Mr. Edward H</td>
      <td>male</td>
      <td>66.00</td>
      <td>0</td>
      <td>0</td>
      <td>C.A. 24579</td>
      <td>10.5000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>35</td>
      <td>0</td>
      <td>1</td>
      <td>Meyer, Mr. Edgar Joseph</td>
      <td>male</td>
      <td>28.00</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17604</td>
      <td>82.1708</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>36</td>
      <td>0</td>
      <td>1</td>
      <td>Holverson, Mr. Alexander Oskar</td>
      <td>male</td>
      <td>42.00</td>
      <td>1</td>
      <td>0</td>
      <td>113789</td>
      <td>52.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>37</td>
      <td>1</td>
      <td>3</td>
      <td>Mamee, Mr. Hanna</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>2677</td>
      <td>7.2292</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>38</td>
      <td>0</td>
      <td>3</td>
      <td>Cann, Mr. Ernest Charles</td>
      <td>male</td>
      <td>21.00</td>
      <td>0</td>
      <td>0</td>
      <td>A./5. 2152</td>
      <td>8.0500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>39</td>
      <td>0</td>
      <td>3</td>
      <td>Vander Planke, Miss. Augusta Maria</td>
      <td>female</td>
      <td>18.00</td>
      <td>2</td>
      <td>0</td>
      <td>345764</td>
      <td>18.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>40</td>
      <td>1</td>
      <td>3</td>
      <td>Nicola-Yarred, Miss. Jamila</td>
      <td>female</td>
      <td>14.00</td>
      <td>1</td>
      <td>0</td>
      <td>2651</td>
      <td>11.2417</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>41</td>
      <td>0</td>
      <td>3</td>
      <td>Ahlin, Mrs. Johan (Johanna Persdotter Larsson)</td>
      <td>female</td>
      <td>40.00</td>
      <td>1</td>
      <td>0</td>
      <td>7546</td>
      <td>9.4750</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>42</td>
      <td>0</td>
      <td>2</td>
      <td>Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)</td>
      <td>female</td>
      <td>27.00</td>
      <td>1</td>
      <td>0</td>
      <td>11668</td>
      <td>21.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>43</td>
      <td>0</td>
      <td>3</td>
      <td>Kraeff, Mr. Theodor</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>349253</td>
      <td>7.8958</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>44</td>
      <td>1</td>
      <td>2</td>
      <td>Laroche, Miss. Simonne Marie Anne Andree</td>
      <td>female</td>
      <td>3.00</td>
      <td>1</td>
      <td>2</td>
      <td>SC/Paris 2123</td>
      <td>41.5792</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>45</td>
      <td>1</td>
      <td>3</td>
      <td>Devaney, Miss. Margaret Delia</td>
      <td>female</td>
      <td>19.00</td>
      <td>0</td>
      <td>0</td>
      <td>330958</td>
      <td>7.8792</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>46</td>
      <td>0</td>
      <td>3</td>
      <td>Rogers, Mr. William John</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>S.C./A.4. 23567</td>
      <td>8.0500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>47</td>
      <td>0</td>
      <td>3</td>
      <td>Lennon, Mr. Denis</td>
      <td>male</td>
      <td></td>
      <td>1</td>
      <td>0</td>
      <td>370371</td>
      <td>15.5000</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>48</td>
      <td>1</td>
      <td>3</td>
      <td>O'Driscoll, Miss. Bridget</td>
      <td>female</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>14311</td>
      <td>7.7500</td>
      <td></td>
      <td>Q</td>
    </tr>
    <tr>
      <td>49</td>
      <td>0</td>
      <td>3</td>
      <td>Samaan, Mr. Youssef</td>
      <td>male</td>
      <td></td>
      <td>2</td>
      <td>0</td>
      <td>2662</td>
      <td>21.6792</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>50</td>
      <td>0</td>
      <td>3</td>
      <td>Arnold-Franchi, Mrs. Josef (Josefine Franchi)</td>
      <td>female</td>
      <td>18.00</td>
      <td>1</td>
      <td>0</td>
      <td>349237</td>
      <td>17.8000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>51</td>
      <td>0</td>
      <td>3</td>
      <td>Panula, Master. Juha Niilo</td>
      <td>male</td>
      <td>7.00</td>
      <td>4</td>
      <td>1</td>
      <td>3101295</td>
      <td>39.6875</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>52</td>
      <td>0</td>
      <td>3</td>
      <td>Nosworthy, Mr. Richard Cater</td>
      <td>male</td>
      <td>21.00</td>
      <td>0</td>
      <td>0</td>
      <td>A/4. 39886</td>
      <td>7.8000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>53</td>
      <td>1</td>
      <td>1</td>
      <td>Harper, Mrs. Henry Sleeper (Myna Haxtun)</td>
      <td>female</td>
      <td>49.00</td>
      <td>1</td>
      <td>0</td>
      <td>PC 17572</td>
      <td>76.7292</td>
      <td>D33</td>
      <td>C</td>
    </tr>
    <tr>
      <td>54</td>
      <td>1</td>
      <td>2</td>
      <td>Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)</td>
      <td>female</td>
      <td>29.00</td>
      <td>1</td>
      <td>0</td>
      <td>2926</td>
      <td>26.0000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>55</td>
      <td>0</td>
      <td>1</td>
      <td>Ostby, Mr. Engelhart Cornelius</td>
      <td>male</td>
      <td>65.00</td>
      <td>0</td>
      <td>1</td>
      <td>113509</td>
      <td>61.9792</td>
      <td>B30</td>
      <td>C</td>
    </tr>
    <tr>
      <td>56</td>
      <td>1</td>
      <td>1</td>
      <td>Woolner, Mr. Hugh</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>19947</td>
      <td>35.5000</td>
      <td>C52</td>
      <td>S</td>
    </tr>
    <tr>
      <td>57</td>
      <td>1</td>
      <td>2</td>
      <td>Rugg, Miss. Emily</td>
      <td>female</td>
      <td>21.00</td>
      <td>0</td>
      <td>0</td>
      <td>C.A. 31026</td>
      <td>10.5000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>58</td>
      <td>0</td>
      <td>3</td>
      <td>Novel, Mr. Mansouer</td>
      <td>male</td>
      <td>28.50</td>
      <td>0</td>
      <td>0</td>
      <td>2697</td>
      <td>7.2292</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>59</td>
      <td>1</td>
      <td>2</td>
      <td>West, Miss. Constance Mirium</td>
      <td>female</td>
      <td>5.00</td>
      <td>1</td>
      <td>2</td>
      <td>C.A. 34651</td>
      <td>27.7500</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>60</td>
      <td>0</td>
      <td>3</td>
      <td>Goodwin, Master. William Frederick</td>
      <td>male</td>
      <td>11.00</td>
      <td>5</td>
      <td>2</td>
      <td>CA 2144</td>
      <td>46.9000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>61</td>
      <td>0</td>
      <td>3</td>
      <td>Sirayanian, Mr. Orsen</td>
      <td>male</td>
      <td>22.00</td>
      <td>0</td>
      <td>0</td>
      <td>2669</td>
      <td>7.2292</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>62</td>
      <td>1</td>
      <td>1</td>
      <td>Icard, Miss. Amelie</td>
      <td>female</td>
      <td>38.00</td>
      <td>0</td>
      <td>0</td>
      <td>113572</td>
      <td>80.0000</td>
      <td>B28</td>
      <td></td>
    </tr>
    <tr>
      <td>63</td>
      <td>0</td>
      <td>1</td>
      <td>Harris, Mr. Henry Birkhardt</td>
      <td>male</td>
      <td>45.00</td>
      <td>1</td>
      <td>0</td>
      <td>36973</td>
      <td>83.4750</td>
      <td>C83</td>
      <td>S</td>
    </tr>
    <tr>
      <td>64</td>
      <td>0</td>
      <td>3</td>
      <td>Skoog, Master. Harald</td>
      <td>male</td>
      <td>4.00</td>
      <td>3</td>
      <td>2</td>
      <td>347088</td>
      <td>27.9000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>65</td>
      <td>0</td>
      <td>1</td>
      <td>Stewart, Mr. Albert A</td>
      <td>male</td>
      <td></td>
      <td>0</td>
      <td>0</td>
      <td>PC 17605</td>
      <td>27.7208</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>66</td>
      <td>1</td>
      <td>3</td>
      <td>Moubarek, Master. Gerios</td>
      <td>male</td>
      <td></td>
      <td>1</td>
      <td>1</td>
      <td>2661</td>
      <td>15.2458</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>67</td>
      <td>1</td>
      <td>2</td>
      <td>Nye, Mrs. (Elizabeth Ramell)</td>
      <td>female</td>
      <td>29.00</td>
      <td>0</td>
      <td>0</td>
      <td>C.A. 29395</td>
      <td>10.5000</td>
      <td>F33</td>
      <td>S</td>
    </tr>
    <tr>
      <td>68</td>
      <td>0</td>
      <td>3</td>
      <td>Crease, Mr. Ernest James</td>
      <td>male</td>
      <td>19.00</td>
      <td>0</td>
      <td>0</td>
      <td>S.P. 3464</td>
      <td>8.1583</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>69</td>
      <td>1</td>
      <td>3</td>
      <td>Andersson, Miss. Erna Alexandra</td>
      <td>female</td>
      <td>17.00</td>
      <td>4</td>
      <td>2</td>
      <td>3101281</td>
      <td>7.9250</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>70</td>
      <td>0</td>
      <td>3</td>
      <td>Kink, Mr. Vincenz</td>
      <td>male</td>
      <td>26.00</td>
      <td>2</td>
      <td>0</td>
      <td>315151</td>
      <td>8.6625</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>71</td>
      <td>0</td>
      <td>2</td>
      <td>Jenkin, Mr. Stephen Curnow</td>
      <td>male</td>
      <td>32.00</td>
      <td>0</td>
      <td>0</td>
      <td>C.A. 33111</td>
      <td>10.5000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>72</td>
      <td>0</td>
      <td>3</td>
      <td>Goodwin, Miss. Lillian Amy</td>
      <td>female</td>
      <td>16.00</td>
      <td>5</td>
      <td>2</td>
      <td>CA 2144</td>
      <td>46.9000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>73</td>
      <td>0</td>
      <td>2</td>
      <td>Hood, Mr. Ambrose Jr</td>
      <td>male</td>
      <td>21.00</td>
      <td>0</td>
      <td>0</td>
      <td>S.O.C. 14879</td>
      <td>73.5000</td>
      <td></td>
      <td>S</td>
    </tr>
    <tr>
      <td>74</td>
      <td>0</td>
      <td>3</td>
      <td>Chronopoulos, Mr. Apostolos</td>
      <td>male</td>
      <td>26.00</td>
      <td>1</td>
      <td>0</td>
      <td>2680</td>
      <td>14.4542</td>
      <td></td>
      <td>C</td>
    </tr>
    <tr>
      <td>75</td>

## DataFrameLoader

Pandas is an open-source data analysis and manipulation tool for the Python programming language. This library is widely used in data science, machine learning, and various fields for working with data.

LangChain's `DataFrameLoader` is a powerful utility designed to seamlessly integrate Pandas DataFrames into LangChain workflows.

In [106]:
import pandas as pd

df = pd.read_csv("./data/titanic.csv")

Search the first 5 rows.

In [107]:
df.head(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Parameters `page_content_column` (str) â€“ Name of the column containing the page content. Defaults to â€œtextâ€.

In [108]:
from langchain_community.document_loaders import DataFrameLoader

# The Name column of the DataFrame is specified to be used as the content of each document.
loader = DataFrameLoader(df, page_content_column="Name")

docs = loader.load()

print(docs[0].page_content)

Braund, Mr. Owen Harris

`Lazy Loading` for large tables. Avoid loading the entire table into memory

In [109]:
# Lazy load records from dataframe.
for row in loader.lazy_load():
    print(row)
    break  # print only the first row

page_content='Braund, Mr. Owen Harris' metadata={'PassengerId': 1, 'Survived': 0, 'Pclass': 3, 'Sex': 'male', 'Age': 22.0, 'SibSp': 1, 'Parch': 0, 'Ticket': 'A/5 21171', 'Fare': 7.25, 'Cabin': nan, 'Embarked': 'S'}